/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

/* Global */

:root {
  --font-base: "Montserrat", sans-serif;
  --font-display: "Fraunces", serif;

  --color-primary: hsl(157deg 36% 37%);
  --color-primary-shade: hsl(157deg 43% 18%);
  --color-secondary: hsl(28deg 38% 92%);
  --color-neutral: hsl(228deg 12% 48%);
  --color-neutral-strong: hsl(212deg 21% 14%);
  --color-white: hsl(157deg 0% 100%);

  /* @link https://utopia.fyi/type/calculator?c=320,14,1.25,1350,18,1.333,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --size-step--1: clamp(0.7rem, calc(0.66rem + 0.22vw), 0.84rem);
  --size-step-0: clamp(0.88rem, calc(0.8rem + 0.39vw), 1.13rem);
  --size-step-4: clamp(2.14rem, calc(1.7rem + 2.2vw), 3.55rem);

  /* @link https://utopia.fyi/space/calculator?c=320,14,1.25,1350,18,1.333,4,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.1vw), 0.31rem);
  --space-2xs: clamp(0.44rem, calc(0.4rem + 0.19vw), 0.56rem);
  --space-xs: clamp(0.69rem, calc(0.63rem + 0.29vw), 0.88rem);
  --space-s: clamp(0.88rem, calc(0.8rem + 0.39vw), 1.13rem);
  --space-m: clamp(1.31rem, calc(1.2rem + 0.58vw), 1.69rem);
  --space-l: clamp(1.75rem, calc(1.59rem + 0.78vw), 2.25rem);
  --space-xl: clamp(2.63rem, calc(2.39rem + 1.17vw), 3.38rem);
  --space-2xl: clamp(3.5rem, calc(3.19rem + 1.55vw), 4.5rem);
  --space-3xl: clamp(5.25rem, calc(4.78rem + 2.33vw), 6.75rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.15rem + 0.49vw), 0.56rem);
  --space-2xs-xs: clamp(0.44rem, calc(0.3rem + 0.68vw), 0.88rem);
  --space-xs-s: clamp(0.69rem, calc(0.55rem + 0.68vw), 1.13rem);
  --space-s-m: clamp(0.88rem, calc(0.62rem + 1.26vw), 1.69rem);
  --space-m-l: clamp(1.31rem, calc(1.02rem + 1.46vw), 2.25rem);
  --space-l-xl: clamp(1.75rem, calc(1.25rem + 2.52vw), 3.38rem);
  --space-xl-2xl: clamp(2.63rem, calc(2.04rem + 2.91vw), 4.5rem);
  --space-2xl-3xl: clamp(3.5rem, calc(2.49rem + 5.05vw), 6.75rem);

  /* Custom pairs */
  --space-s-l: clamp(0.88rem, calc(0.45rem + 2.14vw), 2.25rem);
}

body {
  color: var(--color-neutral);
  background-color: var(--color-white);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
}

h1 {
  line-height: 1;
  font-family: var(--font-display);
  font-size: var(--size-step-4);
  color: var(--color-neutral-strong);
}

p {
  max-width: 60ch;
}

h1 {
  max-width: 30ch;
}
